
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Mobile tutorial - Leaflet</title>

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
	</style>

	<style>body { padding: 0; margin: 0; } #map { height: 100%; width: 100vw; }</style>
</head>
<body>

<div id='map'></div>

<script>
	var map = L.map('map', {
    center: [34.2931671523, 108.96347232715],
    zoom: 17,
    minZoom: 17,
    maxZoom: 20,
    // maxBounds: [[34.305765162, 108.9717452989], 34.2805691426, 108.9551993554]
  });

	// var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	// 	maxZoom: 19,
	// 	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	// }).addTo(map);

	// function onLocationFound(e) {
	// 	var radius = e.accuracy / 2;

	// 	var locationMarker = L.marker(e.latlng).addTo(map)
	// 		.bindPopup('You are within ' + radius + ' meters from this point').openPopup();

	// 	var locationCircle = L.circle(e.latlng, radius).addTo(map);
	// }

	// function onLocationError(e) {
	// 	alert(e.message);
	// }

	// map.on('locationfound', onLocationFound);
	// map.on('locationerror', onLocationError);

	// map.locate({setView: true, maxZoom: 16});

  var imageUrl = 'https://etravel-1256045011.cos.ap-shanghai.myqcloud.com/daminggong.jpeg',
    imageBounds = [ [34.2805691426, 108.9551993554],
    [34.305765162, 108.9717452989]];
L.imageOverlay(imageUrl, imageBounds).addTo(map);
</script>



</body>
</html>
